{% extends 'base.html'%}
{% block content %}
{% load crispy_forms_tags %}


<form action="" method="POST">
    {%csrf_token %}
    <div class="form-group" style="text-align: center;">
      <label for="exampleInputEmail1">Enter NASDAQ </label>
      <input type="text"  id="exampleInputEmail1" name="nasdaq" aria-describedby="emailHelp" placeholder="Enter NASDAQ">
     
    </div>
    <!-- <div class="form-group" style="text-align: center;"
      <label for="exampleInputPassword1">Enter Date</label>
      <input type="date"  id="exampleInputPassword1" name="date" placeholder="Password">
    </div> -->
    <div style="text-align: center;">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    
    
  </form>
  <br>
  {% if nasdaq %}
  <div>
    <h2>Company Name  : {{nasdaq}}</h2>
  </div>
  
<br>
<img src="data:image/png;base64,{{data}}" id="myImg" alt="" style="display: block; margin-left: auto; margin-right: auto; width: 50%;">

<br>
<h3>Key Data For Last 2 Days</h3>
<br>
<table class="table table-bordered">
  <tr>
    <th>Date</th>
    <th>High</th>
    <th>Low</th>
    <th>Open</th>
    <th>Close</th>
    <th>Volume</th>
  
  </tr>
{% for i, r in oneday1.iterrows %}
<tr>
    <td>{{  datenow }}</td>
    <td>{{ r.High }}</td>
    <td>{{ r.Low }}</td>
    <td>{{ r.Open }}</td>
    <td>{{ r.Close }}</td>
    <td>{{ r.Volume }}</td>
    </tr>
{% endfor %}
</table>
{% endif%}

  



{% endblock%}
